body {
    text-align: center;
    background-color: white;
}

canvas {
    border: 1px solid;
    font-family: 'Trench';
}

@font-face {
    font-family: 'Trench';
    src: url('../fonts/trench100free.otf');
}

