body {
    text-align: center;
    background-color: white;
}

canvas {
    border: 1px solid;
    font-family: PressStart;
}

@font-face {
    font-family: 'PressStart';
    src: url('../fonts/PressStart2P.ttf');
}


